@import './styles/fonts.css';
@import './styles/theme.css';
@import './styles/reset.css';
@import './styles/layout.css';
@import './styles/utils.css';
@import './styles/generics.css';

html {
  font-size: var(--text-base);
  font-family: var(--font-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100svh;
  background-color: var(--bg-page);
  color: var(--ink-main);
}
